@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Bebas Neue';
  src: url('/static/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #e5e9ec;
}
